<div class="navbar navbar-default navbar-fixed- navbar-inverse " role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Tycoons App</a>

              	<a class="login-link" ng-controller="logotCtrl" ng-Click="destroyCookie()" href="#/login" ng-show="getCookie.data">Logout</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right" ng-controller="navCtrl" class="menu">
					<li ><a href="#">Home</a></li>
					<li ng-repeat="item in items">
                    	<a href="{{item.path}}" ng-class="{active: isActive(item)}">{{item.name}}</a>
                    </li>
				</ul>
			</div><!--/.nav-collapse -->
            
	   </div>
	</div>